{"openapi":"3.1.0","info":{"title":"Lazyweb Agent API","version":"1.0.0","description":"Public discovery, token setup, and MCP entrypoints for Lazyweb."},"servers":[{"url":"https://www.lazyweb.com"}],"paths":{"/api/mcp/install-token":{"post":{"operationId":"createLazywebMcpInstallToken","summary":"Create a free Lazyweb MCP token for an agent.","responses":{"200":{"description":"Install token and MCP setup details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/McpInstallTokenResponse"}}}}}}},"/mcp":{"post":{"operationId":"callLazywebMcp","summary":"Streamable HTTP MCP endpoint.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"MCP JSON-RPC response."},"401":{"description":"Missing or invalid bearer token."}}}},"/.well-known/mcp/server-card.json":{"get":{"operationId":"getLazywebMcpServerCard","summary":"Fetch Lazyweb MCP server metadata.","responses":{"200":{"description":"MCP server card."}}}},"/.well-known/agent-skills/index.json":{"get":{"operationId":"getLazywebAgentSkillsIndex","summary":"Fetch Lazyweb agent skill discovery index.","responses":{"200":{"description":"Agent skills index."}}}},"/index.md":{"get":{"operationId":"getLazywebMarkdownLandingPage","summary":"Fetch the Markdown landing page for agents.","responses":{"200":{"description":"Markdown landing page."}}}},"/cursor.md":{"get":{"operationId":"getLazywebCursorSetup","summary":"Fetch Cursor-specific setup instructions for Lazyweb MCP tools and optional slash skill.","responses":{"200":{"description":"Cursor setup guide."}}}},"/codex.md":{"get":{"operationId":"getLazywebCodexSetup","summary":"Fetch Codex plugin setup instructions for Lazyweb.","responses":{"200":{"description":"Codex setup guide."}}}},"/claude.md":{"get":{"operationId":"getLazywebClaudeSetup","summary":"Fetch Claude Code plugin setup and Claude Desktop MCP guidance for Lazyweb.","responses":{"200":{"description":"Claude setup guide."}}}},"/use-lazyweb.md":{"get":{"operationId":"getLazywebUsageGuide","summary":"Fetch examples for when and how agents should use Lazyweb.","responses":{"200":{"description":"Lazyweb usage guide."}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"McpInstallTokenResponse":{"type":"object","required":["ok","token","userId","email","mcpUrl","skillsUrl","skillUrl","clients","installPrompt"],"properties":{"ok":{"type":"boolean"},"token":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"email":{"type":"string"},"mcpUrl":{"type":"string","format":"uri"},"skillsUrl":{"type":"string","format":"uri"},"skillUrl":{"type":"string","format":"uri"},"installPrompt":{"type":"string"},"tokenSensitivity":{"type":"string"},"cursor":{"type":"object","description":"Cursor-specific MCP config and optional slash skill installation details."},"clients":{"type":"object","description":"Client-specific setup instructions for Cursor, Codex, Claude Code, Claude Desktop, and generic MCP clients.","properties":{"cursor":{"type":"object"},"codex":{"type":"object"},"claudeCode":{"type":"object"},"claudeDesktop":{"type":"object"},"generic":{"type":"object"}}},"mcpHeaders":{"type":"object","additionalProperties":{"type":"string"}}}}}}}